<div id="rewardModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
  <p>To get free Wi-fi you need to watch these ads</p>
  <input type="button" class="lg_btn" id="watchAdBtn" value="Yes, I want free Wi-fi!" />
  <input type="button" class="btn" id="noThanksBtn" value="No Thanks" />
  <p>I don't want Free Wi-fi and will remain on this page.</p>
</div>
  </div>
  <div id="grantModal" class="modal">
    <div class="modal-content">
      <p id="grantParagraph"> </p>
      <input type="button" class="btn" id="grantCloseBtn" value="Close" onclick="nextPage()" />
    </div>
  </div>