<script>
    googletag = window.googletag || {cmd: []};
const queryValues = window.location.search;
const urlParams = new URLSearchParams(queryValues);
var utm_medium = "NULL"
if (urlParams.has('utm_medium') === true){
    utm_medium = urlParams.get('utm_medium');
    console.log("Utm Medium does exisit as :" ,utm_medium );
} else {
  console.log("Utm Medium does not exisit exisit, value to be populated : ", utm_medium);
}
    googletag.cmd.push(() => {
    
    const rewardedSlot = googletag.defineOutOfPageSlot('22047902240/wifinews/wfn_rewardad',googletag.enums.OutOfPageFormat.REWARDED).addService(googletag.pubads());
      rewardedSlot.setForceSafeFrame(true);
    
googletag.pubads().setTargeting("Medium", [utm_medium]);
      googletag.pubads().enableAsyncRendering();
      googletag.enableServices();


      googletag.pubads().addEventListener('rewardedSlotReady', evt => {
        
        const makeVisibleFn = (e) => {
        
          clearInterval(timerInterval);
          
          evt.makeRewardedVisible();
          e.preventDefault();
          
          watchAdButton.removeEventListener('click', makeVisibleFn);
          
          noThanksButton.removeEventListener('click', closeModalFn);
          
          trigger.style.display = 'none';

        // Call your custom function to handle modal closed event
        //handleModalClosed();

        };


        const trigger = document.getElementById('rewardModal');
        trigger.style.display = 'block';
        clearInterval(timerInterval);
        const watchAdButton = document.getElementById('watchAdBtn');
        watchAdButton.addEventListener('click', makeVisibleFn);
        
        const noThanksButton = document.getElementById('noThanksBtn');
        const closeModalFn = () => {
          const trigger = document.getElementById('rewardModal');
          trigger.style.display = 'none';
          cancelPage();
          //location.reload();
          googletag.destroySlots([rewardedSlot]);
        };
        
        noThanksButton.addEventListener('click', closeModalFn);
    
      });

       googletag.pubads().addEventListener('rewardedSlotGranted', function(evt) {
 console.log("Rewarded Add Granted Event");
         googletag.destroySlots([rewardedSlot]);
         nextPage() ;

          });

        
  googletag.pubads().addEventListener("rewardedSlotClosed", (event) => {
            const slot = event.slot;
            console.log("Rewarded ad slot", slot.getSlotElementId(), "has been closed.");
            //location.reload();
  cancelPage();
            if (slot === targetSlot) {
              // Slot specific logic.
            }
          });


      googletag.display(rewardedSlot);
    });
  </script>
