{% load static %}

<html lang="en">
  <head>
                        
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Wifi News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="site-verification" content="3e9b45f6cfba924eb4912c00aee1d325">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
           
    <!-- Slick CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'lib/slick/slick/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/slick/slick/slick-theme.css' %}">

    <script src="//www.googletagservices.com/tag/js/gpt.js"></script>
    <script src="https://securepubads.g.doubleclick.net/gpt/pubads_impl_2020082501.js" id="gpt-impl-0.6479606329482994" nonce> </script>
    <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
    
   

    <script>

      window.googletag = window.googletag || {cmd: []};
      const queryValues = window.location.search;
      const urlParams = new URLSearchParams(queryValues);
      const utm_medium = urlParams.get('utm_medium')
     
        
  
      // GPT ad slots
      var interstitialSlot, staticSlot;
  
      googletag.cmd.push(function() {
      // Define a web interstitial ad slot.
      var mapping1 = googletag.sizeMapping()
      .addSize([1400, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
      .addSize([1200, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
      .addSize([1000, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
      .addSize([700, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
      .addSize([600, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
      .addSize([300, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
      .addSize([0, 0], [[0, 0]])
      .build();

      interstitialSlot = googletag.defineOutOfPageSlot('/22047902240/wifinews/interstitial',
          googletag.enums.OutOfPageFormat.INTERSTITIAL);
  
      // Slot returns null if the page or device does not support interstitials.
      if (interstitialSlot) {
      interstitialSlot.addService(googletag.pubads());
  
      // document.getElementById('status').innerText = 'Interstitial is loading...';
  
      // Add event listener to enable navigation once the interstitial loads.
      // If this event doesn't fire, try clearing local storage and refreshing
      // the page.
      
      //googletag.pubads().addEventListener('slotOnload', function(event) {
      //    if (interstitialSlot === event.slot) {
      //    document.getElementById('link').click()
      //    document.getElementById('link').style.display = 'block';
      //    document.getElementById('status').innerText = 'Interstitial is loaded.';
      //    }
      //});
      }
  
      // Define static ad slots.
      staticSlot = googletag.defineSlot(
          '/22047902240/wifinews/interstitial', [[320, 480], [300, 250], [300, 600],'fluid'], 'div-gpt-ad-1664881948592-0')
          .defineSizeMapping(mapping1)
          .addService(googletag.pubads())

      
          googletag.defineSlot('/22047902240/wifinews/interstitial_1_320x50', [320, 50], 'div-gpt-ad-1683741261333-0')
          .addService(googletag.pubads());
          

					// Removed Slot Level Targeting
          //.setTargeting('Medium', [utm_medium]);

      
    // Configure page-level targeting.	
    googletag.pubads().setTargeting('Medium', [utm_medium]);
  	
	

  
    // Enable SRA and services.
      googletag.pubads().enableSingleRequest();
      googletag.pubads().collapseEmptyDivs();
      googletag.pubads().setCentering(true);
      googletag.enableServices();
      console.log("The UTM Medium value is : " + [utm_medium]);
      });
  
     
      </script>


    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7X2TTB6954"></script>
    <script> 
      window.dataLayer = window.dataLayer || []; 
      function gtag(){dataLayer.push(arguments);} 
      gtag('js', new Date()); gtag('config', 'G-7X2TTB6954'); 
    </script>
    <!-- Google tag (gtag.js) -->

   


    <script data-cfasync="false" type="text/javascript">

          
      console.log("The GET Location UTM : " + utm_medium);
    
      function getLocation() {
    
        const table = {
        'CastleGate':['wifi_new_location-25.818290856952945,28.243639216402936'],
        'Checkers':['wifi_new_location-25.790030462813558,28.308465216402087'],
        'Aurora':['wifi_new_location-33.83395303127436,18.630754924849253'],
        'DieBoord':['wifi_new_location-33.94392326663052,18.85096309574991'],
        'Habitat':['wifi_new_location-34.09946569316033,18.84421431697818'],
        'Hermanus':['wifi_new_location-34.42007712494609,19.240125224080554'],
        'Kendridge':['wifi_new_location-33.86231506242235,18.633543722208376'],
        'Soneike':['wifi_new_location-33.909032968264526,18.683045000785135'],
        'Sonstraal':['wifi_new_location-33.836547883756005,18.67569102168555'],
        'Vredenburg':['wifi_new_location-32.90746509078876,17.988025359030726'],
        'BedfordCentre':['wifi_new_location-26.188635654281008,28.123009071710403'],
        'CavendishSquare':['wifi_new_location-33.980412947370525,18.463474343933616'],
        'Gateway':['wifi_new_location-29.725324023471455,31.066332721373545'],
        'Kagiso':['wifi_new_location-26.174779114494054,27.79103438522797'],
        'PhumulaniMall':['wifi_new_location-25.975986498418816,28.23187761105135'],
        'RiversideMall':['wifi_new_location-25.437872100714724,30.966835401402747'],
        'TheZone':['wifi_new_location-26.14558111504946,28.043494964297913'],
        'VincentPark':['wifi_new_location-32.984022063954704,27.904019337522943'],
        'DunesMall':['wifi_new_location-22.958187390267206,14.520234364216252'],
        'NewtownJunction':['wifi_new_location-26.200365809609856,28.030825809239985'],
        'PanAfrica':['wifi_new_location-26.109695625142013,28.08753303916644'],
        'TheGroveMall':['wifi_new_location-25.766500481639795,28.324746412173972'],
        'RandRidgeMall':['wifi_new_location-26.100950297912146,27.941410568002382'],
        'MaeruaMall':['wifi_new_location-22.58400964501496,17.093269502829312'],
        'BloemfonteinPlaza':['wifi_new_location-29.11748827835424,26.219907408604957'],
        'Daveyton':['wifi_new_location-26.15294287529297,28.418510197592422'],
        'DurbanPhoenix':['wifi_new_location-29.858736202886544,31.021894041127993'],
        'GugulethuSquare':['wifi_new_location-33.98620279293109,18.566597644968407'],
        'Hammarsdale':['wifi_new_location-29.80191253467289,30.628546656470675'],
        'MorulengMall':['wifi_new_location-25.164557868299156,27.167977503493653'],
        'PinetownPineCrest':['wifi_new_location-29.811321457343517,30.857342176043048'],
        'Bagatelle(MOM)':['wifi_new_location47.49065837536919,19.023483115344582'],
        'BoValon':['wifi_new_location-20.423930360389488,57.69777129108692'],
        'PhoenixMall':['wifi_new_location18.56168803863375,73.916021963598'],
        'MallofCyprus':['wifi_new_location35.13000851087696,33.37107792966399'],
        'BrooklynMall':['wifi_new_location-25.772108417083633,28.23491084459973'],
        'BalfourMall':['wifi_new_location-26.136972616857793,28.08952008890624'],
        'DesignQuarter':['wifi_new_location-26.03083372252673,28.011850433083907'],
        'ZewenwachtMall':['wifi_new_location-33.94883217761204,18.695855497080895'],
        'AtlantisCity':['wifi_new_location-33.562868312868126,18.492210002626145'],
        'Dobsonville':['wifi_new_location-26.21222895577691,27.8692175410221'],
        'DurbanWorkshop':['wifi_new_location-29.85604715832367,31.026385606733434'],
        'EastrandMall':['wifi_new_location-26.181932597644654,28.240448856365774'],
        'HighlandMews':['wifi_new_location-25.90158224526943,29.235217088899944'],
        'Hillfox':['wifi_new_location-26.13916294009301,27.92079593308686'],
        'MdantsaneCity':['wifi_new_location-32.93545934560322,27.74131852669148'],
        'Phuthaditjhaba':['wifi_new_location-28.533704994953837,28.803197446209698'],
        'PretoriaKolonnade':['wifi_new_location-25.680555475397163,28.251115589572983'],
        'QueenstownNonesi':['wifi_new_location-31.903324778044464,26.872296430075874'],
        'RandburgSquare':['wifi_new_location-26.09177063507921,28.003228787052308'],
        'Eikestad':['wifi_new_location-33.93540887320114,18.859636316652495'],
        'Glenfair':['wifi_new_location-25.76573558294784,28.28075546747133'],
        'LynnwoodBridge':['wifi_new_location-25.765485817744345,28.278438345237603'],
        'MallofAfrica':['wifi_new_location-26.014991001305912,28.107477458213967'],
        'MooirivierMall':['wifi_new_location-26.712775923223884,27.104604002413712'],
        }

    
        // Find the "row" in the table where the key is 'MallofAfrica'
        let items = table[utm_medium];
    
        // Get the 1st item in the data
        
        console.log(items[0]);
        return items[0];
        
    
      }
      
      // Call the getLocation function
          
    </script>
    
    
    

    

  
    <script type="text/javascript">
          
      
      function nextPage() {
                const queryString = window.location.search;
                const uid = Date.now().toString(36) + Math.random().toString(36).substr(2);
               
                if (queryString.length === 0 ){
                  window.location.assign("/exit_2/" + queryString  ); 
                }

                else {    

                  try{
                    const wifi_location = getLocation();
                    const wifi_location_param = String(wifi_location)

                    window.location.assign("/exit_2/" + queryString  + "&" + wifi_location_param ); 

                    }
                  catch(err) {

                    window.location.assign("/exit_2/" + queryString  ); 
                  
                  }     
                
                }
        }
    
    </script>
    
    <script type = "text/javascript">
      firstTimer();

      function addSeconds(numOfSeconds, date = new Date()) {
        date.setSeconds(date.getSeconds() + numOfSeconds);
      
        return date;
        }    


      function firstTimer() {
        var timeleft = 20;
        var starttime = new Date();
        var firstTimer = null;
        const futuretime = addSeconds(11, starttime)
      
        firstTimer = setInterval(function () {
        
        var actualttime = new Date();
        
      
        if (actualttime >= futuretime||timeleft <= 10)  {
              //document.redirect.submit();
              nextPage()
          } 
          else if ( timeleft == 11|| timeleft == 12) {
              document.getElementById("noticeTxt4").style.display = "Inherit";
              document.getElementById("noticeTxt").style.display = "none";
              document.getElementById("noticeTxt2").style.display = "none";
              document.getElementById("noticeTxt3").style.display = "none";
              document.getElementById("noticeTxt5").style.display = "none";
          
            }
        
           else {
              document.getElementById("noticeTxt").style.display = "Inherit";
              document.getElementById("noticeTxt").innerHTML =  "You are logged in!" ;
              document.getElementById("noticeTxt2").innerHTML = "You will be routed ";
              document.getElementById("noticeTxt3").innerHTML = "to our home page in "  ;
              document.getElementById("noticeTxt5").innerHTML =  timeleft + " seconds" ;
          }
  
          timeleft = timeleft - 1;
  
      }, 1000)
  }
  </script>

  <script type="text/javascript">
    window._taboola = window._taboola || [];
    _taboola.push({article:'auto'});
    !function (e, f, u, i) {
      if (!document.getElementById(i)){
      e.async = 1;
      e.src = u;
      e.id = i;
      f.parentNode.insertBefore(e, f);
      }
    }(document.createElement('script'),
    document.getElementsByTagName('script')[0],
    '//cdn.taboola.com/libtrc/wifinewswifinews/loader.js',
    'tb_loader_script');
    if(window.performance && typeof window.performance.mark == 'function')
      {window.performance.mark('tbl_ic');}
    </script>
  

</head>

<body class="default">
  <script type="text/javascript">

    testf();

    function testf() {
    getLocation();

    
    }
  </script>  
 
<style>

  .button_2 {
    margin-left: 15%;
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #000033;
    width: 236.81px;
    height: 50.63px;
    left: 237.37px;
    top: 759.43px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    transition: 0.1s;
    font-weight: 700;
    cursor: pointer;
    
    
  }
  
  .button_2:hover {
    background-color: #000080; /* Navy */
    color: #FF4644;
    border : 1px solid White;
  }
  
  </style> 
  
  <div class="row"  style="font-family: Arial, Helvetica, sans-serif;padding-top: 0%; padding-bottom: 0px; margin-top: 0%; text-align: center;border: 2px solid #000080;color:#FF4644; font-size: 25px;">
    <div  class="button"  style="text-align: center; margin: 0 auto; width: 100%;">
          
          <div class="logo" id="noticeTxt"  style="margin-top: 5px;text-align:center;word-break:break-all;"></div>
          <div class="logo" id="noticeTxt2" style="margin-bottom: 0px;text-align:center;word-break:break-all;"></div>
          <div class="logo" id="noticeTxt3" style="margin-bottom: 5px;text-align:center;word-break:break-all;"></div>
          <div class="logo" id="noticeTxt5" style="margin-bottom: 5px;text-align:center;word-break:break-all;"></div>
          <div class="button_2" id="noticeTxt4" style="display: none;margin-bottom: 0px;text-align:center; width: 110px; height: 110px; margin: auto;border-radius: 50%; border: 2px dotted #000080;font-size: 15px;" onclick="nextPage() ">
              <p style = "color :#FF4644; padding : 15px 0 0 0"> PRESS TO PROCEED</p>
          </div>
        
    </div>
  </div>

 



  <div id="content"  style="padding-top: 0%; padding-bottom: 0px; ">
    <div class="content-wrap">
       
  
      <!-- slider -->
        <div >
            <div>
              
              <div id='div-gpt-ad-1664881948592-0' style="margin-top: 40px; margin-bottom: 10px;">  </div>
  
            </div>
        </div>

      <!-- slider -->
      <div >
          <!-- /22047902240/wifinews/interstitial_1_320x50 -->
          <div id='div-gpt-ad-1683741261333-0' style='min-width: 320px; min-height: 50px;'>
            <script>
              googletag.cmd.push(function() { googletag.display('div-gpt-ad-1683741261333-0'); });
            </script>
          </div>
    </div>

      <div class="section-home available-car"  >
        <div class="heading-section" style="margin-bottom: 90px;">
          <div class="sa-title popcat">Popular Reading</div>
          <div class="heading-info">
            <div id="taboola-below-article-thumbnails-1"></div>

            
            <div id="taboola-below-article-thumbnails"></div>
            <script type="text/javascript">
              window._taboola = window._taboola || [];
              _taboola.push({
              mode: 'alternating-thumbnails-a',
              container: 'taboola-below-article-thumbnails',
              placement: 'Below Article Thumbnails',
              target_type: 'mix'
              });
            </script>
          
          </div>
        </div>
      </div>

  </div>
</div>	





<script>
                   
  googletag.cmd.push(function() {
  // Ensure the first call to display comes after static ad slot
  // divs are defined.
  googletag.display(staticSlot);
  });
  </script>

            
      <!-- .Content  -->
    <div class="overlay"></div>
    
	
    <script type = "text/javascript">
      firstTimer();
    </script>
    
  

    </body>


    
  </html>