{% load static %}

<html lang="en">
  <head>
	
	
                        
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Wifi News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="site-verification" content="3e9b45f6cfba924eb4912c00aee1d325">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-16x16.png' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
	<!-- Slick CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'lib/slick/slick/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/slick/slick/slick-theme.css' %}">
   	
	<!-- Adtelligent: Ad Exchange -->
	<script src="{% static 'js/publisher/adtelligent.js' %}"> </script>
	<!-- END Adtelligent: Ad Exchange -->
	
	<!-- Google Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
          
      
      function nextPage() {
                const queryString = window.location.search;
                const uid = Date.now().toString(36) + Math.random().toString(36).substr(2);
               
                if (queryString.length === 0 ){
                  window.location.assign("/test_page_3/" + queryString ); 
                }
                else {               
                window.location.assign("/test_page_3/" + queryString ); 
                }
        }
    
    </script>

    
    
    <script type = "text/javascript">

	  function	run_down_timer(){
		
		var countdownNumberEl = document.getElementById('countdown-number');
		var countdown = 10;
		
		countdownNumberEl.textContent = countdown;
		
		setInterval(function() {
		  countdown = --countdown <= 0 ? 10 : countdown;
		
		  countdownNumberEl.textContent = countdown;
		}, 1000);


	  }	


      function addSeconds(numOfSeconds, date = new Date()) {
        date.setSeconds(date.getSeconds() + numOfSeconds);
      
        return date;
        }    


      function firstTimer() {
        var timeleft = 35;
        var starttime = new Date();
        var firstTimer = null;
        const futuretime = addSeconds(17, starttime)
      
        firstTimer = setInterval(function () {
        
        var actualttime = new Date();
        
      
        if (actualttime >= futuretime||timeleft <= 17)  {
              //document.redirect.submit();

              // Clear the interval
              clearInterval(firstTimer);
			
              nextPage();
          } 

          
            else if ( timeleft > 32 ) {
			document.getElementById("noticeTxt").style.display = "Inherit";
			document.getElementById("noticeTxt").innerHTML = "View these ads for " ;
			document.getElementById("noticeTxt2").innerHTML = timeleft + " seconds  "  ;
			document.getElementById("noticeTxt3").innerHTML = "to get your free WiFi " ;
			
          }

		  	else if ( timeleft > 23 ) {
					
			
			if(document.getElementById("countdown")){
				const my_element = document.getElementById("countdown");
				my_element.remove();
			} 

			
			document.getElementById("noticeTxt5A").innerHTML = timeleft   ;
			document.getElementById("noticeTxt5B").innerHTML = "Page 1 of 2"   ;
			document.getElementById("countdown_1").style.display = "Inherit"; 
			 
			
			
			
          }

		  else if ( timeleft > 19 ) {
					
			
			if(document.getElementById("row_1")){
				const my_element = document.getElementById("row_1");
				my_element.remove();
			} 

			document.getElementById("row_2").style.display = "Inherit";  
					
			
          }

				  
          timeleft = timeleft - 1;
  
      }, 1000)
  }
</script>



<script>
// Initialize the firstTimer after Google tags have loaded	
  function initFirstTimer() {
    firstTimer();
  }
</script>


	<script  src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"> </script>
	<script src="https://securepubads.g.doubleclick.net/gpt/pubads_impl_2020082501.js" id="gpt-impl-0.6479606329482994" nonce> </script>
	
  

    
    <script>
   
      window.googletag = window.googletag || {cmd: []};
		
      const queryValues = window.location.search;
      const urlParams = new URLSearchParams(queryValues);
      const utm_medium = urlParams.get('utm_medium')
  
      // GPT ad slots
      var interstitialSlot, staticSlot;
  
      googletag.cmd.push(function() {
      // Define a web interstitial ad slot.
      var mapping1 = googletag.sizeMapping()
      .addSize([1400, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
      .addSize([1200, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
      .addSize([1000, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
      .addSize([700, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
      .addSize([600, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
      .addSize([300, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
      .addSize([0, 0], [[0, 0]])
      .build();

      interstitialSlot = googletag.defineOutOfPageSlot('/22047902240/wifinews/interstitial',
          googletag.enums.OutOfPageFormat.INTERSTITIAL);
  
      // Slot returns null if the page or device does not support interstitials.
      if (interstitialSlot) {
      interstitialSlot.addService(googletag.pubads());
  
      // document.getElementById('status').innerText = 'Interstitial is loading...';
  
      // Add event listener to enable navigation once the interstitial loads.
      // If this event doesn't fire, try clearing local storage and refreshing
      // the page.
      
      //googletag.pubads().addEventListener('slotOnload', function(event) {
      //    if (interstitialSlot === event.slot) {
      //    document.getElementById('link').click()
      //    document.getElementById('link').style.display = 'block';
      //    document.getElementById('status').innerText = 'Interstitial is loaded.';
      //    }
      //});
      }
  
      // Define static ad slots.
      staticSlot = googletag.defineSlot(
          '/22047902240/wifinews/interstitial', [[320, 480], [300, 250], [300, 600],'fluid'], 'div-gpt-ad-1664881948592-0')
          .defineSizeMapping(mapping1)
          .addService(googletag.pubads())

          googletag.defineSlot('/22047902240/interstitial_1_320x50', [[320,50],[300,250],[300,600]], 'div-gpt-ad-5067521-1')
          .addService(googletag.pubads());
          
          // Removed Slot Level Targeting
          //.setTargeting('Medium', [utm_medium]);

      
    // Configure page-level targeting.	
		  googletag.pubads().setTargeting('Medium', [utm_medium]);
  	
	

  
      // Enable SRA and services.
      googletag.pubads().enableSingleRequest();
      googletag.pubads().collapseEmptyDivs();
      googletag.pubads().setCentering(true);
      googletag.enableServices();
      console.log("The UTM Medium value is : " + [utm_medium]);
      });
  
      </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7X2TTB6954"></script>
    <script> 
      window.dataLayer = window.dataLayer || []; 
      function gtag(){dataLayer.push(arguments);} 
      gtag('js', new Date()); gtag('config', 'G-7X2TTB6954'); 
    </script>
    <!-- Google tag (gtag.js) -->
  
    


  <script type="text/javascript">
    window._taboola = window._taboola || [];
    _taboola.push({article:'auto'});
    !function (e, f, u, i) {
      if (!document.getElementById(i)){
      e.async = 1;
      e.src = u;
      e.id = i;
      f.parentNode.insertBefore(e, f);
      }
    }(document.createElement('script'),
    document.getElementsByTagName('script')[0],
    '//cdn.taboola.com/libtrc/wifinewswifinews/loader.js',
    'tb_loader_script');
    if(window.performance && typeof window.performance.mark == 'function')
      {window.performance.mark('tbl_ic');}
    </script>





  


</head>

<body class="default">




 
<style>

  .button_2 {
    margin-left: 15%;
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #000033;
    width: 236.81px;
    height: 50.63px;
    left: 237.37px;
    top: 759.43px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    transition: 0.1s;
    font-weight: 700;
    cursor: pointer;
    
    
  }
  
  .button_2:hover {
    background-color: #FF4644; /* Navy */
    color: #FF4644;
    border : 1px solid White;
  }

  #countdown {
	position: relative;
	margin: auto;
	margin-top: 0px;
	height: 140px;
	
	text-align: center;
  }
  
  #countdown-number {
	color: black;
	display: inline-block;
	line-height: 140px;
  }
  
  svg {

	top: 0;
	right: 0;
	width: 100%;
	height: 140px;
	

  }
  
  svg circle {
	stroke-dasharray: 365px;
	stroke-dashoffset: 0px;
	stroke-linecap: round;
	stroke-width: 5px;
	stroke: #FF4644;
	fill: none;
	animation: countdown 10s linear infinite forwards;
  }
  
  @keyframes countdown {
	from {
	  stroke-dashoffset: 0px;
	}
	to {
	  stroke-dashoffset: 365px;
	}
  }


  
  </style> 
  
 
  <div class="row" id="row_1" style="font-family: Arial, Helvetica, sans-serif;padding-top: 0%; padding-bottom: 0px; margin-top: 0%; text-align: center;border: 5px solid #FF4644;color:#FF4644;border-radius: 25px; " >
    
          
		<div id="countdown">
						
			<div id="countdown-number"> </div>
			
					
					<svg >
						
					

					<text id="noticeTxt"  x="30%" y="40%" 	text-anchor="middle" fill="#000080" font-size="16px" font-weight="bold" dx="20%" > 
					
					</text>

					<text id="noticeTxt2"  x="30%" y="55%" 	text-anchor="middle" fill="#000080" font-size="16px" font-weight="bold" dx="20%" > 
						
					</text>
				
					<text id="noticeTxt3"  x="30%" y="70%" 	text-anchor="middle" fill="#000080" font-size="16px" font-weight="bold" dx="20%" > 
						
					</text>


					<text id="noticeTxt5"  x="30%" y="60%" 	text-anchor="middle" fill="#000080" font-size="20px" font-weight="bold" dx="20%" > 
						
					</text>
					
							

					</svg>
								
		</div>

		<div id="countdown_1" style="display: none;">
						
			<div id="countdown-number"> </div>
			
					
					<svg >
						
					<circle id = "circle_1" r="60" cx="50%" cy="70"> </circle>
					
					<text id="noticeTxt5A"  x="30%" y="58%" 	text-anchor="middle" fill="#000080" font-size="18px" font-weight="bold" dx="20%" > </text>
					<text id="noticeTxt5B"  x="70%" y="88%" 	text-anchor="middle" fill="#000080" font-size="12px" font-weight="bold" dx="20%" > </text> 
					
					
								
					<text 
					
					x="70%" 
					y="97%" 
					text-anchor="middle" 
					fill="black" 
					font-size="12px" 
					font-weight="bold"
					
					style="fill:black"
					
					
					
					dx="20%"  > 

				 					
			
					
						
	
					</svg>
					
			
		</div>
	  
	  
	    
      
    </div>

	



	<div class="row" id = "row_2" style="display:none;font-family: Arial, Helvetica, sans-serif;padding-top: 0%; padding-bottom: 0px; margin-top: 0%; text-align: center;border: 5px solid #FF4644;color:#FF4644;border-radius: 25px; " >
    
          
		<div id="countdown_3">
			<div  class="button"  style="text-align: center; margin: 0 auto; width: 100%;">
            
	
				<div class="button_2"  style="margin-bottom: 0px;text-align:center; width: 100px; height: 100px; margin-top: 1%;margin-left: 38%;border-radius: 50%; border: 2px dotted #FF4644;font-size: 15px;" onclick="nextPage() ">
				  <p style = "color :#000080; padding : 10px 0 0 0"> PRESS</p>
				</div>
			 
		  </div>
		</div>
      
      
    </div>







<div id="content"  style="padding-top: 0%; padding-bottom: 0px; ">
    <div class="content-wrap">


       
  
      <!-- slider -->
        <div >
            <div>
              
              <div id='div-gpt-ad-1664881948592-0' style="margin-top: 40px; margin-bottom: 10px;">  
                <script>
                  googletag.cmd.push(function() { googletag.display('div-gpt-ad-1664881948592-0'); onload="initFirstTimer()" });
                </script>

             </div>

  
            </div>
        </div>

      <!-- slider -->
      <div >
        <!-- /22047902240/wifinews/interstitial_1_320x50 -->
        <div id='div-gpt-ad-5067521-1' style='min-width: 320px; min-height: 50px;'>
          <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-5067521-1'); });
          </script>
        </div>
     </div>



      <div class="section-home available-car"  >
        <div class="heading-section" style="margin-bottom: 90px;">
          <div class="sa-title popcat">Popular Reading</div>
          <div class="heading-info">
            <div id="taboola-below-article-thumbnails-1"></div>

            
            <div id="taboola-below-article-thumbnails"></div>
            <script type="text/javascript">
              window._taboola = window._taboola || [];
              _taboola.push({
              mode: 'alternating-thumbnails-a',
              container: 'taboola-below-article-thumbnails',
              placement: 'Below Article Thumbnails',
              target_type: 'mix'
              });
            </script>
            

          
          </div>
        </div>
      </div>

  </div>
</div>	





<script>
                   
  googletag.cmd.push(function() {
  // Ensure the first call to display comes after static ad slot
  // divs are defined.
  googletag.display(staticSlot);
  });
  </script>




 

                   
      <!-- .Content  -->
    <div class="overlay"></div>
    
		

    


    </body>

  
    

    
  </html>