{% extends "wifin_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block container %}
<div class="centered-container">    
  
	  <body>

       
  
            <div class="content-wrap">
               

              <div class="heading-section">
                <div style="padding-top: 0%; padding-bottom: 0px;margin-top: 0px;">
                  <!-- GPT AdSlot 2 -->
                  <div class="row"  style="font-family: Arial, Helvetica, sans-serif;padding-top: 0%; padding-bottom: 0px; margin-top: 0%; text-align: center; font-size: 25px;">
                    <div class="icon-container">
                    
                      <div class="logo"  style="padding-top: 0%;color:#333 ">
            
                        <img  alt="hero" src="{% static 'img/WIFINEWSLOGO_transparent.png' %}" style="width: 300px; height: auto;margin-top: 1%;" >
            
                        </div>
                    </div>
                    
                  </div>

                  <div class="row"  style="font-family: Arial, Helvetica, sans-serif;padding-top: 0%; padding-bottom: 0px; margin-top: 5%; text-align: center; font-size: 25px;">
                  If you would Like to stand a chance to WIN R150 of airtime monthly by playing our SOCCER game, compelte your detials below and select SUBMIT!
                  </div>
                    <!-- End AdSlot 2 -->
                </div>
             </div>  
                
                 <!-- Form -->
               
                 <div class="heading-section" style="font-family: Arial, Helvetica, sans-serif;padding-top: 0%; padding-top: 5%; margin-bottom: 0%; text-align: center; font-size: 25px;">
                  
                  
                  <div class="heading-info">
                
             
                  <form  method="post" >
                    
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if messages %}
                      {% for message in messages %}
                          <div class="text-center alert alert-{{ message.tags }}">
                              {{ message|safe }}
                            
                          </div>
                      {% endfor %}
                    {% endif %}

                    
                    &nbsp;&nbsp;
                   
                    <br>
                    <button type="submit" class="lg_btn" >Submit & Play</button>
                    &nbsp;&nbsp;  
                    <button type="button" class="lg_btn" onclick="cancelPage()">Browse</button>
                  </form>
                    <!-- End Taboola Slot -->
                  </div>
                </div>
                
                <div class="heading-section">
                  <div style="padding-top: 0%; padding-bottom: 0px;margin-top: 1px;">
                    <!-- GPT AdSlot 2 -->
                    {% block google_ad_2 %}
                    {% include 'google/ad_slots/20240201/landing_ad_2.html' %}
                    {% endblock google_ad_2 %}
                    <!-- End AdSlot 2 -->
                  </div>
               </div>  
        

        
        
              
        
              <!-- STICKY -->
              <div class="sticky-element">
                   <!-- GPT AdSlot 3 -->
                {% block google_ad_3 %}
                {% include 'google/ad_slots/20240201/landing_sticky.html' %}
                {% endblock google_ad_3 %}
                 <!-- End AdSlot 3 -->
              </div>
              <!-- END STICKY -->
        
            </div>
     
               



	  </body>

</div>    
  
</html>
{% endblock %}