{% extends "wifin_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block container %}
<div class="centered-container">    
	  <body>
   
       
  
            <div class="content-wrap">
               
                <!-- slider -->
                <div class="heading-section">
                  <div style="padding-top: 0%; padding-bottom: 0px;margin-top: 1px;">
                    <!-- GPT AdSlot 1 -->
                    {% block google_ad_1 %}
                    {% include 'google/ad_slots/20240201/landing_ad_1.html' %}
                    {% endblock google_ad_1 %}
                    <!-- End AdSlot 1 -->
                  </div>
                </div>

                 <!-- Form -->
               
                 <div class="heading-section">
                  <div class="sa-title popcat">Complete your details below to start playing </div>
                  <div class="heading-info">
                
             
                  <form  method="post" >
                    
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if messages %}
                      {% for message in messages %}
                          <div class="text-center alert alert-{{ message.tags }}">
                              {{ message|safe }}
                            
                          </div>
                      {% endfor %}
                    {% endif %}

                    
                    &nbsp;&nbsp;
                   
                    <br>
                    <button type="submit" class="lg_btn" >Submit</button>
                    &nbsp;&nbsp;  
                  </form>
                    <!-- End Taboola Slot -->
                  </div>
                </div>
                
                <div class="heading-section">
                  <div style="padding-top: 0%; padding-bottom: 0px;margin-top: 1px;">
                    <!-- GPT AdSlot 2 -->
                    {% block google_ad_2 %}
                    {% include 'google/ad_slots/20240201/landing_ad_2.html' %}
                    {% endblock google_ad_2 %}
                    <!-- End AdSlot 2 -->
                  </div>
               </div>  
        

        
        
              
        
              <!-- STICKY -->
              <div class="sticky-element">
                   <!-- GPT AdSlot 3 -->
                {% block google_ad_3 %}
                {% include 'google/ad_slots/20240201/landing_sticky.html' %}
                {% endblock google_ad_3 %}
                 <!-- End AdSlot 3 -->
              </div>
              <!-- END STICKY -->
        
            </div>
     
               



	  </body>

</div>    
  
</html>
{% endblock %}