{% load static %}
<!doctype html>
<html lang="en">
	<head>

	  <!-- Required meta tags -->
      <meta charset="utf-8">
      <title>Wifi News</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-touch-fullscreen" content="yes">
      <meta name="HandheldFriendly" content="True">
      <meta name="propeller" content="81536ab60038f949842f70ea71b4593f">
	  <meta name="site-verification" content="3e9b45f6cfba924eb4912c00aee1d325">
	  <meta name="a.validate.02" content="sNt46z9r0NqpYvo35ih1iYyYpMfhO-C345fJ" />


	  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
	  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-16x16.png' %}">


  
      <!-- Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
      <link rel="stylesheet" href="{% static 'css/theme.css' %}">
      
      <!-- Slick CSS -->
      <link rel="stylesheet" type="text/css" href="{% static 'lib/slick/slick/slick.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'lib/slick/slick/slick-theme.css' %}">
	


	  <script src="//www.googletagservices.com/tag/js/gpt.js">

	  </script>
		
	  <script src="https://securepubads.g.doubleclick.net/gpt/pubads_impl_2020082501.js" id="gpt-impl-0.6479606329482994" nonce>
	
	  </script>
  
	       
      <!-- Rewarded Add JS
	  <script>
  
		googletag = window.googletag || { cmd: [] };
		googletag.cmd.push(() => {
			const rewardedSlot = googletag.defineOutOfPageSlot('/302423036,22047902240/nowonline/NO_RewardedVideo',
				googletag.enums.OutOfPageFormat.REWARDED).addService(googletag.pubads());
			rewardedSlot.setForceSafeFrame(true);
			rewardedSlot.setTargeting('pos', 'rewarded');

			googletag.pubads().enableAsyncRendering();
			googletag.enableServices();
			googletag.pubads().addEventListener('rewardedSlotReady', evt => {
				const makeVisibleFn = (e) => {
					evt.makeRewardedVisible();
					e.preventDefault();
					watchAdButton.removeEventListener('click', makeVisibleFn);
					noThanksButton.removeEventListener('click', closeModalFn);
					trigger.style.display = 'none';
				};
				const trigger = document.getElementById('rewardModal');
				trigger.style.display = 'block';
				const watchAdButton = document.getElementById('watchAdBtn');
				watchAdButton.addEventListener('click', makeVisibleFn);
				const noThanksButton = document.getElementById('noThanksBtn');
				const closeModalFn = () => {
					const trigger = document.getElementById('rewardModal');
					trigger.style.display = 'none';
				};
				noThanksButton.addEventListener('click', closeModalFn);
			});
			googletag.pubads().addEventListener('rewardedSlotGranted', evt => {
				const grantModal = document.getElementById('grantModal');
				const reward = evt.payload;
				const grantParagraph = document.getElementById('grantParagraph');
				grantParagraph.innerHTML = "You've been rewarded " + reward.amount + " "
					+ reward.type + "!";
				const grantCloseBtn = document.getElementById('grantCloseBtn');
				const closeGrantFn = () => {
					grantCloseBtn.removeEventListener('click', closeGrantFn);
					grantModal.style.display = 'none';
				}
				grantCloseBtn.addEventListener('click', closeGrantFn);
				grantModal.style.display = 'block';
			});
			googletag.display(rewardedSlot);
		});
  
		console.log("Script is running");
  
	</script>

-->
		
  



   
        <!-- Start GPT Tag -->
        <script async src='https://securepubads.g.doubleclick.net/tag/js/gpt.js'>
	
		</script>



        <script>
        
		window.googletag = window.googletag || {cmd: []};
		
		const queryValues = window.location.search;
		const urlParams = new URLSearchParams(queryValues);
		const utm_medium = urlParams.get('utm_medium')


        googletag.cmd.push(function() {
            var mapping1 = googletag.sizeMapping()
                            .addSize([1400, 0], [[728, 90], 'fluid'])
                            .addSize([1200, 0], [[728, 90], 'fluid'])
                            .addSize([1000, 0], [[728, 90], 'fluid'])
                            .addSize([700, 0], [[468, 60], 'fluid'])
                            .addSize([600, 0], [[468, 60], 'fluid'])
                            .addSize([300, 0], [[320, 50], [300, 100], [300, 250], 'fluid'])
                            .addSize([0, 0], [[0, 0]])
                            .build();

			var mapping2 = googletag.sizeMapping()
									.addSize([1400, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
									.addSize([1200, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
									.addSize([1000, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
									.addSize([700, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
									.addSize([600, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
									.addSize([300, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
									.addSize([0, 0], [[0, 0]])
									.build();

			var mapping3 = googletag.sizeMapping()
									.addSize([1400, 0], [[300, 250], [300, 600], [728, 90], 'fluid'])
									.addSize([1200, 0], [[728, 90], [300, 250], [300, 600], 'fluid'])
									.addSize([1000, 0], [[728, 90], [300, 250], [300, 600], 'fluid'])
									.addSize([700, 0], [[468, 60], [300, 250], [300, 600], 'fluid'])
									.addSize([600, 0], [[468, 60], [300, 250], [300, 600], 'fluid'])
									.addSize([300, 0], [[320, 50], [320, 100], [300, 250], [300, 600], 'fluid'])
									.addSize([0, 0], [[0, 0]])
									.build();

			var mapping4 = googletag.sizeMapping()
									.addSize([1400, 0], [[728, 90], 'fluid'])
									.addSize([1200, 0], [[728, 90], 'fluid'])
									.addSize([1000, 0], [[728, 90], 'fluid'])
									.addSize([700, 0], [[468, 60], 'fluid'])
									.addSize([600, 0], [[468, 60], 'fluid'])
									.addSize([300, 0], [[320, 50], 'fluid'])
									.addSize([0, 0], [[0, 0]])
									.build();
   // Configure slot-level targeting.
					   googletag.defineSlot('/22047902240/wifinews/homepage_top_leaderboard', [[320,50],[300,100],[300,250],[468,60],[728,90],'fluid'], 'div-gpt-ad-8904840-1')
								.defineSizeMapping(mapping1)
								.addService(googletag.pubads())

								// Removed Slot Level Targeting
          						//.setTargeting('Medium', [utm_medium]);
					   googletag.defineSlot('/22047902240/wifinews/homepage_mpu_hpa', [[320,50],[300,250],[300,600],[468,60],[728,90],[320,100],'fluid'],'div-gpt-ad-8904840-2')
								.defineSizeMapping(mapping3)
								.addService(googletag.pubads())

								// Removed Slot Level Targeting
          						//.setTargeting('Medium', [utm_medium]);
					   googletag.defineSlot('/22047902240/wifinews/homepage_mpu_hpa_2', [[320,50],[300,250],[300,600],[320,100],[468,60],[728,90],'fluid'],  'div-gpt-ad-8904840-3')
								.defineSizeMapping(mapping3)
								.addService(googletag.pubads())

								// Removed Slot Level Targeting
          						//.setTargeting('Medium', [utm_medium]);
					   googletag.defineSlot('/22047902240/wifinews/homepage_sticky', [[320,50],[468,60],[728,90],'fluid'],'div-gpt-ad-8904840-4')
								.defineSizeMapping(mapping4)
								.addService(googletag.pubads())

								// Removed Slot Level Targeting
          						//.setTargeting('Medium', [utm_medium]);


	  // Configure page-level targeting.	
		googletag.pubads().setTargeting('Medium', [utm_medium]);
  	
		// Enable SRA and services.
		googletag.pubads().enableSingleRequest();
		googletag.pubads().collapseEmptyDivs();
		googletag.pubads().setCentering(true);
		
		googletag.enableServices();
		console.log("The UTM Medium value is : " + [utm_medium]);


        });
        </script>
        <!-- End GPT Tag -->

		<!-- Google tag (gtag.js) -->
			 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154258676-1"></script>
			 <script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
		
				gtag('config', 'UA-154258676-1');
			 </script>
		<!-- Google tag (gtag.js) -->

		
		<style>
			.red_button {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding: 9px 22px 8px;
				
				color :White;
				border-color: #FF4644;
				
				width: 210px;
				height: 37px;
				background: #FF4644;
			
				border-radius: 50px;
			}
		
			ul.timeline {
				list-style-type: none;
				position: relative;
			}
			ul.timeline:before {
				content: ' ';
				background: #2450a6;
				display: inline-block;
				position: absolute;
				left: 29px;
				width: 2px;
				height: 100%;
				z-index: 400;
			}
			ul.timeline > li {
				margin: 20px 0;
				padding-left: 20px;
			}
			ul.timeline > li:before {
				content: ' ';
				background: white;
				display: inline-block;
				position: absolute;
				border-radius: 50%;
				border: 3px solid #FF4644;
				left: 20px;
				width: 20px;
				height: 20px;
				z-index: 400;
			}
		
			
			.text {
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 3; /* number of lines to show */
						line-clamp: 3; 
				-webkit-box-orient: vertical;
			 }
				
			 #wrapper {
				width: 400px;
				
				position: relative;
				float: left;
				}
				#first {
				width: 40%;
				text-align: right;
				position: relative;
				float: left;
				}
				#second {
			  
				color : black;
				position: relative;
				float: left;
				width: 30%;
				}
				#third {
				 
					color : black;
					position: relative;
					float: left;
					width: 10%;
					}
		
					/* The Modal (background) */
					.modal {
						display: none;
						/* Hidden by default */
						position: fixed;
						/* Stay in place */
						z-index: 1;
						/* Sit on top */
						padding-top: 300px;
						/* Location of the box */
						left: 0;
						top: 0;
						width: 100%;
						/* Full width */
						height: 100%;
						/* Full height */
						overflow: auto;
						/* Enable scroll if needed */
						background-color: rgb(0, 0, 0);
						/* Fallback color */
						background-color: rgba(0, 0, 0, 0.4);
						/* Black w/ opacity */
					}
			
					/* Modal Content */
					.modal-content {
						margin: auto;
						padding: 25px;
						background-color: #fefefe;
						text-align: center;
						position: fixed;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
			
					@media all and (orientation: landscape) {
			
						/* Modal Content */
						.modal-content {
							margin: auto;
							padding: 25px;
							background-color: #fefefe;
							text-align: center;
							position: fixed;
							top: 60%;
							left: 50%;
							transform: translate(-50%, -50%);
						}
					}
			
			
					.btn {
						padding: .5rem;
						background: #2990EA;
						border: none;
						border-radius: 4px;
						margin: 4px;
					}
			
				
			
		</style>
		
			
			

		<script data-cfasync="false" type="text/javascript">
			function nextPage() {
					const queryString = window.location.search;
					window.location.assign("/interstitial/" + queryString ); 
			}
		  
		  </script> 

		  <script type="text/javascript">
			window._taboola = window._taboola || [];
			_taboola.push({article:'auto'});
			!function (e, f, u, i) {
			  if (!document.getElementById(i)){
				e.async = 1;
				e.src = u;
				e.id = i;
				f.parentNode.insertBefore(e, f);
			  }
			}(document.createElement('script'),
			document.getElementsByTagName('script')[0],
			'//cdn.taboola.com/libtrc/wifinewswifinews/loader.js',
			'tb_loader_script');
			if(window.performance && typeof window.performance.mark == 'function')
			  {window.performance.mark('tbl_ic');}
		  </script>
		
	
	
    </head>
	<body class="default">

	     
      <!-- Rewardedd Add Modals
		<div id="grantModal" class="modal">
			<div class="modal-content">
				<input type="button" class="btn" id="grantCloseBtn" value="Close" style="width: 50px; height: 50px;" />
			</div>
		</div>
		<div id="waitModal" class="modal">
	
			<div class="modal-content" style="width: 300px;">
				<p id="waitTxt"></p>
				<input type="button" class="btn" id="okayBtn" value="Okay" />
			</div>
		</div>


		<div id="rewardModal" class="modal">
		
			<div class="modal-content">
				<p>Access free Wi-Fi quickly by watching this ad</p>
				<input type="button" class="btn" id="watchAdBtn" value="Watch Ad" />
				<input type="button" class="btn" id="noThanksBtn" value="No Thanks" />
			</div>
		</div>
		<div id="grantModal" class="modal">
			<div class="modal-content">
				<p id="grantParagraph"> </p>
				<input type="button" class="btn" id="grantCloseBtn" value="Close" />
			</div>
		</div>

	-->


		
	
			<!-- Header  -->
			<nav class="navbar navbar-expand-lg navbar-light bg-header" style="border: 2px solid #000080;">
				<div class="container-fluid">
					
					<div class="logo"  style="padding-top: 5pt;color:#FF4644 ">

						<img  alt="hero" src="{% static 'img/WIFINEWSLOGO.jpeg' %}" >

					</div>
				
				</div>
			</nav>
			<!-- .Header  -->
			<!-- Content  -->
			
			<div class="row"  style="padding-top: 7%; padding-bottom: 0px; margin-top: 10%; text-align: center;border: 2px solid #000080;background-color: #000080;color:#FF4644; font-size: 25px;">
				<div id="myHeader" class="button" onclick="watchVidModal()" style="text-align: center; margin: 0 auto; width: 100%;">
					<i class="fa fa-wifi" aria-hidden="true" style="font-size: 2.5em;"></i>
					<h2 id="connectTxt" style="display: none; color:#FF4644;">Click HERE to connect to Wi-Fi NOW</h2>
					<h2 id="countdown"></h2>
					<p id="noticeTxt" ></p>
				</div>
			</div>

			
	                  
     
			<div id="content"  style="padding-top: 0%; padding-bottom: 0px; ">
				
			

				<div class="content-wrap">
					<!-- slider -->
					<div class="img-hero">
						<div>
							<!-- GPT AdSlot 1 for Ad unit 'wifinews/homepage_top_leaderboard' ### Size: [[320,50],[728,90],[300,250],[468,60],'fluid'] -->
                            <div id='div-gpt-ad-8904840-1' style="margin-top: 20px; margin-bottom: 20px;">
                            <script>
                               
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-8904840-1'); });
                            </script>
                            </div>
                            <!-- End AdSlot 1 -->
						</div>
						
					</div>
					<!-- .slider -->
					
			
					<!-- GPT AdSlot 3 for Ad unit 'wifinews/homepage_mpu_hpa_2' ### Size: [[320,50],[728,90],[300,250],[468,60],[300,600],'fluid'] -->
					<div class="content-wrap">
						<!-- slider -->
						<div class="img-hero">
							<div>
								
								<!-- GPT AdSlot 3 for Ad unit 'wifinews/homepage_top_leaderboard' ### Size: [[320,50],[728,90],[300,250],[468,60],'fluid'] -->
								<div id='div-gpt-ad-8904840-3' style="margin-top: 20px; margin-bottom: 20px;">
									
								<script>
								   
									googletag.cmd.push(function() { googletag.display('div-gpt-ad-8904840-3'); });
								</script>
								
							</div>
								<!-- End AdSlot 3 -->
							</div>
							
						</div>
                        
					
			

					<!-- section 2 -->
					<div class="heading-section">
						<div class="sa-title popcat" style="color:#FF4644 ">Featured Articles </div>
						<div class="heading-info">
							Wi-Fi news keeps you up to date with all things relating to your connectivity and data access.
						</div>
						<div class="clear"></div>
					</div>
					<div class="section-home available-car">
						
						<div class="default-carousel car-carousel" >
							<!-- item -->
							{% for featured in object_list %}
							<div class="item" >
								<div class="acr-box" style="border: 2px solid #000080;">
									<div class="acr-box-in" style="background-color: #ffff" >
										
										<a href="{% url 'post' featured.slug %}" class="theme-button" style="background-color: #ffff;">
											
											<div class="acr-content" style="background-color: #ffff;padding : 1px;" >
												
												<div  class="heading-section" >
													<div class="sa-title popcat" style="color:#FF4644 ">{{ featured.title }} </div>
													<div  >
													
															<span style = "color:#000000;" >
																																{{ featured.overview }} 
															<span>
													</div>
													<div class="clear"></div>
												</div>																					
											</div>
										</a>
									</div>
									
								</div>
							</div>
					
							{% endfor %}
						</div>

						<div class="img-hero">
							<div>
								
								<!-- GPT AdSlot 2 for Ad unit 'wifinews/homepage_mpu_hpa' ### Size: [[320,50],[728,90],[300,250],[468,60],[300,600],'fluid'] -->
								<div id='div-gpt-ad-8904840-1' style="margin-top: 20px; margin-bottom: 20px;">
									<script>
										
										googletag.cmd.push(function() { googletag.display('div-gpt-ad-8904840-1'); });
									</script>
									</div>
									<!-- End AdSlot 2 -->
							</div>
							
						</div>
				
							<!-- .item -->

							<!-- item -->
						
							<div class="default-carousel car-carousel" style="margin-top:5px;">
								{% for featured in featured_other %}
								<div class="item" >
									<div class="acr-box" style="border: 2px solid #000080;">
										<div class="acr-box-in" style="background-color: #ffff">
											
											<a href="{% url 'post' featured.slug %}" class="theme-button" style="background-color: #ffff;">
												
												<div class="acr-content" style="background-color: #ffff;padding : 1px;" >
													
													<div  class="heading-section" >
														<div class="sa-title popcat" style="color:#FF4644 ">{{ featured.title }} </div>
														<div  >
														
																<span style = "color:#000000;" >
																																	{{ featured.overview }} 
																<span>
														</div>
														<div class="clear"></div>
													</div>																					
												</div>
											</a>
										</div>
										
									</div>
								</div>
						
								{% endfor %}
								<!-- .item -->
							</div>
						<!-- .section 2-->

						<div class="img-hero">
							<div>
								
								<!-- GPT AdSlot 2 for Ad unit 'wifinews/homepage_mpu_hpa' ### Size: [[320,50],[728,90],[300,250],[468,60],[300,600],'fluid'] -->
								<div id='div-gpt-ad-8904840-2' style="margin-top: 20px; margin-bottom: 20px;">
									<script>
										googletag.cmd.push(function() { googletag.display('div-gpt-ad-8904840-2'); });
									</script>
								</div>
									<!-- End AdSlot 2 -->
							</div>
							
						</div>		
					

					<!-- section 1 -->
					<div class="heading-section">
						<div class="sa-title popcat" style="color:#FF4644 ">About Us </div>
						<div class="heading-info">
							<p>Our mission objective is to connect the unconnected to the internet. The way in which we intend to achieve this is by providing free and low costs Wi-Fi to the masses. 	</p>
							<p>Over the past 10 years, we have developed, tested and implemented an ground-breaking digital Wi-Fi marketing system that we are using in high density commuter areas and shopping areas in South Africa. Working with advertisers, we have auditable campaigns results, verifiable sites, detailed campaign reports and straight forward guidelines to marketers. Working with consumers, we offer reliable, high speed internet access to the masses.</p>
							<p>We provide Wi-Fi to users across south Africa and a certain point managed close to 1000 hotspots and 200 000 visitors daily makes use of our deployments and Wi-Fi authentication platform.</p>
						</div>
						<div class="clear"></div>
					</div>
					
					<!-- .section 1 -->
					
		<!-- section 3 -->
				
		<div class="heading-section" style="margin-bottom: 90px;">
			<div class="sa-title popcat">Popular Reading</div>
			<div class="heading-info">
				
				<div id="taboola-below-article-thumbnails-1"></div>

				
				<div id="taboola-below-article-thumbnails"></div>
				<script type="text/javascript">
				  window._taboola = window._taboola || [];
				  _taboola.push({
					mode: 'alternating-thumbnails-a',
					container: 'taboola-below-article-thumbnails',
					placement: 'Below Article Thumbnails',
					target_type: 'mix'
				  });
				</script>
			</div>
		</div>
		


	<!-- .section 3 -->
					</div>
					
				
					
					
									
					
				</div>
			</div>

			
		<!-- .Content  -->
			<!-- STICKY -->
			

			<div style="text-align: center; margin: 0 auto; z-index:100; left: 0; right: 0; position: fixed; bottom: 30px;">
				  
				<!-- GPT AdSlot 4 for Ad unit 'wifinews/homepage_sticky' ### Size: [[320,50],[728,90],[468,60],'fluid'] -->
				<div id='div-gpt-ad-8904840-4' style="margin-bottom: 0px;">
					<script>
						googletag.cmd.push(function() { googletag.display('div-gpt-ad-8904840-4'); });
					</script>
				</div>
				
		
			</div>

			<!-- END STICKY -->
			
>
			
			<div class="overlay"></div>
			

			

			<!-- Optional JavaScript -->
			<!-- jQuery v3.4.1 -->
			<script src="{% static 'lib/jquery/jquery-3.4.1.min.js'  %}"></script>
			<!--  Bootstrap v4.3.1 JS -->
			<script src="{% static 'lib/bootstrap/js/bootstrap.min.js'  %}"></script>
			<!-- Magnific Popup core JS file 
			<script src="{% static 'lib/Magnific-Popup-master/dist/jquery.magnific-popup.js'  %}"></script>
			-->
			<!-- Slick JS -->
			<script src="{% static 'lib/slick/slick/slick.min.js'  %}" ></script>
			<!--  Custom JS -->
			<script src="{% static 'js/theme.js'  %}" ></script>

		
			<script>
			firstTimer();	
			function firstTimer() {
				
				var timeleft = 16;
				
				document.getElementById("connectTxt").style.display = "none";
			
				
			
				var firstTimer = setInterval(function () {
					if (timeleft <= 0) {
						clearInterval(firstTimer);
						document.getElementById("countdown").style.display = "none";
						document.getElementById("connectTxt").style.display = "Inherit";
						document.getElementById("noticeTxt").style.display = "Inherit";
						totalTimeout();
			
					} else {
						document.getElementById("countdown").innerHTML = "Connect to WIFI in " + timeleft + " Seconds";
					}
			
					timeleft = timeleft - 1;
			
				}, 1000)
			}
			function totalTimeout(){
				setTimeout(() => {
						//document.redirect.submit();
						nextPage();
				}, 1000);
			}
			</script>
		
	
	<!-- Optional JavaScript 
		<script type="text/javascript">
			window._taboola = window._taboola || [];
			_taboola.push({ flush: true });
		</script>
	-->
		

			<script data-cfasync="false" type="text/javascript">
				function watchVidModal() {
						
						//document.redirect.submit();
						nextPage();
				}
		
			</script>

			<!-- Slick JS
			<script>
				window.onscroll = function () { myFunction() };
				var header = document.getElementById("myHeader");
				var sticky = header.offsetTop;
				function myFunction() {
					if (window.pageYOffset > sticky) {
						header.classList.add("sticky");
					} else {
						header.classList.remove("sticky");
					}
				}
			</script>
			-->

			
		</body>
	</html>