{% load static %}
<!DOCTYPE html>
<html lang="en" style="background-color: #c94f9b;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="site-verification" content="3e9b45f6cfba924eb4912c00aee1d325">
    <title>Wifi News</title>

    <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
    {% block google_head %}
      {% include 'google/head_tags/interstitial_1.html' %}
    {% endblock google_head %}


    <style>
      #link {
        display: none;
      }

      div.content {
        position: fixed;
        top: 50%;
      }

      p {
        text-align: center;
      }

      .btn {
        padding: .5rem;
        background: #2990EA;
        border: none;
        border-radius: 4px;
        margin: 4px;
      }
    </style>
  </head>
  <body>
    <div id="content" style="padding-top: 0%; padding-bottom: 0px;">
      <div class="content-wrap">

        <!-- slider -->
        <div style="padding-top: 0%; padding-bottom: 0px;margin-top: 1px;">
          <!-- GPT AdSlot 1 -->
          {% block google_ad_1 %}
            {% include 'google/ad_slots/int_1_ad_1.html' %}
          {% endblock google_ad_1 %}
          <!-- End AdSlot 1 -->
        </div>


        <div style="padding-top: 0%; padding-bottom: 0px;margin-top: 1px;">
          <!-- GPT AdSlot 2 -->
          {% block google_ad_2 %}
            {% include 'google/ad_slots/int_1_ad_2.html' %}
          {% endblock google_ad_2 %}
          <!-- End AdSlot 2 -->
        </div>

        <div class="heading-section" style="margin-bottom: 90px;">
          <div class="sa-title popcat">Popular Reading</div>
          <div class="heading-info">
            <!-- Taboola Slot -->
            {% block taboola %}
              {% include 'taboola/taboola.html' %}
            {% endblock taboola %}
            <!-- End Taboola Slot -->
          </div>
        </div>

      

			<!-- STICKY -->
			<div style="text-align: center; margin: 0 auto; z-index:100; left: 0; right: 0; position: sticky; bottom: 30px;">
				   <!-- GPT AdSlot 3 -->
        {% block google_ad_3 %}
           {% include 'google/ad_slots/int_1_ad_3.html' %}
        {% endblock google_ad_3 %}
         <!-- End AdSlot 3 -->
			</div>
			<!-- END STICKY -->

    </div>
  </div>

  </body>
  
  <footer style="position: absolute; margin-top: 250px; text-align: center; background: grey; min-width: 100%; bottom: 0; left: 0;">
    <div style="width: 100%; color: #ffffff; text-align: center; margin: 0 auto;">
      <p id="noticeTxt" style="display: none; font-size: 1.2em"></p>
    </div>
  </footer>

  <script>
    firstTimer();

    function firstTimer() {
      var timeleft = 7;
      var firstTimer = setInterval(function() {
        if (timeleft <= 0) {
          nextPage()
        } else {
          document.getElementById("noticeTxt").style.display = "Inherit";
          document.getElementById("noticeTxt").innerHTML = "Will skip in " + timeleft + " Seconds";
        }
        timeleft = timeleft - 1;
      }, 1000)
    }
  </script>
  <script data-cfasync="false" type="text/javascript">
    function nextPage() {
      const queryString = window.location.search;
      console.log(queryString);
      window.location.assign("/home/");
    }
  </script>
</html>