{% load static %}
<!DOCTYPE html>
<html lang="en" style="background-color: #c94f9b;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wifi News</title>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PLVN345');</script>
    <!-- End Google Tag Manager -->

    <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
    <script>
      window.googletag = window.googletag || {cmd: []};

      // GPT ad slots
      var interstitialSlot, staticSlot;

      googletag.cmd.push(function() {
        // Define a web interstitial ad slot.
        interstitialSlot = googletag.defineOutOfPageSlot(
            '/22047902240/wifinews/wfn_interstitial2',
            googletag.enums.OutOfPageFormat.INTERSTITIAL);

        // Slot returns null if the page or device does not support interstitials.
        if (interstitialSlot) {
          interstitialSlot.addService(googletag.pubads());

          // document.getElementById('status').innerText = 'Interstitial is loading...';

          // Add event listener to enable navigation once the interstitial loads.
          // If this event doesn't fire, try clearing local storage and refreshing
          // the page.
          googletag.pubads().addEventListener('slotOnload', function(event) {
            if (interstitialSlot === event.slot) {
              document.getElementById('link').click()
              document.getElementById('link').style.display = 'block';
              // document.getElementById('status').innerText = 'Interstitial is loaded.';
            }
          });
        }

        // Define static ad slots.
        staticSlot = googletag.defineSlot(
            '/22047902240/wifinews/wfn_interstitial2', ['fluid', [320, 480]], 'div-gpt-ad-1623081918204-0')
          .addService(googletag.pubads());

        // Enable SRA and services.
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
      });

    </script>
    <style>
      #link {
        display: none;
      }

      div.content {
        position: fixed;
        top: 50%;
      }
    </style>
  </head>
  <body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PLVN345" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="div-gpt-ad-1623081918204-0" style="width: 320px; height: 280px; background-color: #c94f9b; margin-left: 10px"></div>
    
    <div class="content">
      <p>
        <a id="link" href="#" style="display: none;"></a>
      </p>
      <p>
        <!--
          You can prevent specific links from triggering GPT-managed web interstials by
          adding a data-google-interstitial="false" attribute to the anchor element or
          any ancestor of the anchor element.
        -->
      </p>
    </div>
    <script>
        googletag.cmd.push(function() {
          // Ensure the first call to display comes after static ad slot
          // divs are defined.
          googletag.display(staticSlot);
        });
    </script>

<form id="redirect" name="redirect" action="" >
   
 
</form>

  </body>

  <footer style="position: absolute; margin-top: 250px; text-align: center; background: grey; min-width: 100%; bottom: 0; left: 0;">
    <div style="width: 100%; color: #ffffff; text-align: center; margin: 0 auto;">
        <p id="noticeTxt" style="display: none; font-size: 1.2em"></p>
    </div>
  </footer>

<script>

firstTimer();

function firstTimer() {
    var timeleft = 5;

    var firstTimer = setInterval(function () {
        if (timeleft <= 0) {
            document.redirect.action = "index/";
            document.redirect.submit();
        } else {
            document.getElementById("noticeTxt").style.display = "Inherit";
            document.getElementById("noticeTxt").innerHTML = "Will skip in " + timeleft + " Seconds";
        }

        timeleft = timeleft - 1;

    }, 1000)
}
</script>

</html>