<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<head>
	
	<title>Hotspot login</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="pragma" content="no-cache"/>

		 
	<script data-cfasync="false" type="text/javascript">
          
      
		function nextPage() {
			const utm_source   = "SomeStuff"
			const utm_medium   = "SomeOtherStuff"
			const utm_campaign = "SomeMoreStuff"

			window.location = "https://wifinews.co.za/landing?utm_source=" + utm_source + "&utm_medium=" + utm_medium + "&utm_campaign=" + utm_campaign;
		  }
	  
	</script>

	<script data-cfasync="false" type="text/javascript">
          
      
		function nextTestPage() {
			const utm_source   = "SomeStuff"
			const utm_medium   = "SomeOtherStuff"
			const utm_campaign = "SomeMoreStuff"

			window.location = "https://wifinews.co.za/landing?utm_source=" + utm_source + "&utm_medium=" + utm_medium + "&utm_campaign=" + utm_campaign;
		  }
	  
	</script>
	  
	<script type = "text/javascript">

		try {
			nextPage();
		  }
		  catch(err) {
				document.write(err);
		  }
		  finally {
			nextTestPage();
		  }

	
	</script>

</head>

<body>


</body>

</html>