{% load static %}

<html lang="en">
  <head>
                        
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Wifi News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="site-verification" content="3e9b45f6cfba924eb4912c00aee1d325">
	  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
	  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-16x16.png' %}">

          <!-- Custom CSS -->
          <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
          <link rel="stylesheet" href="{% static 'css/theme.css' %}">
          
          <!-- Slick CSS -->
          <link rel="stylesheet" type="text/css" href="{% static 'lib/slick/slick/slick.css' %}">
          <link rel="stylesheet" type="text/css" href="{% static 'lib/slick/slick/slick-theme.css' %}">
   
   
  
    <script src="//www.googletagservices.com/tag/js/gpt.js"></script>
      
    <script src="https://securepubads.g.doubleclick.net/gpt/pubads_impl_2020082501.js" id="gpt-impl-0.6479606329482994" nonce> </script>

    <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"> </script>
    
    <script>
   
      window.googletag = window.googletag || {cmd: []};
		
      const queryValues = window.location.search;
      const urlParams = new URLSearchParams(queryValues);
      const utm_medium = urlParams.get('utm_medium')
  
      // GPT ad slots
      var interstitialSlot, staticSlot;
  
      googletag.cmd.push(function() {
      // Define a web interstitial ad slot.
      var mapping1 = googletag.sizeMapping()
      .addSize([1400, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
      .addSize([1200, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
      .addSize([1000, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
      .addSize([700, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
      .addSize([600, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
      .addSize([300, 0], [[320, 480], [300, 250], [300, 600], 'fluid'])
      .addSize([0, 0], [[0, 0]])
      .build();

      interstitialSlot = googletag.defineOutOfPageSlot('/22047902240/wifinews/interstitial',
          googletag.enums.OutOfPageFormat.INTERSTITIAL);
  
      // Slot returns null if the page or device does not support interstitials.
      if (interstitialSlot) {
      interstitialSlot.addService(googletag.pubads());
  
      // document.getElementById('status').innerText = 'Interstitial is loading...';
  
      // Add event listener to enable navigation once the interstitial loads.
      // If this event doesn't fire, try clearing local storage and refreshing
      // the page.
      
      //googletag.pubads().addEventListener('slotOnload', function(event) {
      //    if (interstitialSlot === event.slot) {
      //    document.getElementById('link').click()
      //    document.getElementById('link').style.display = 'block';
      //    document.getElementById('status').innerText = 'Interstitial is loaded.';
      //    }
      //});
      }
  
      // Define static ad slots.
      staticSlot = googletag.defineSlot(
          '/22047902240/wifinews/interstitial', [[320, 480], [300, 250], [300, 600],'fluid'], 'div-gpt-ad-1664881948592-0')
          .defineSizeMapping(mapping1)
          .addService(googletag.pubads())

          googletag.defineSlot('/22047902240/wifinews/interstitial_1_320x50', [320, 50], 'div-gpt-ad-1683741261333-0')
          .addService(googletag.pubads());
          
          
          
          // Removed Slot Level Targeting
          //.setTargeting('Medium', [utm_medium]);

      
    // Configure page-level targeting.	
		  googletag.pubads().setTargeting('Medium', [utm_medium]);
  	
	

  
      // Enable SRA and services.
      googletag.pubads().enableSingleRequest();
      googletag.pubads().collapseEmptyDivs();
      googletag.pubads().setCentering(true);
      googletag.enableServices();
      console.log("The UTM Medium value is : " + [utm_medium]);
      });
  
      </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7X2TTB6954"></script>
    <script> 
      window.dataLayer = window.dataLayer || []; 
      function gtag(){dataLayer.push(arguments);} 
      gtag('js', new Date()); gtag('config', 'G-7X2TTB6954'); 
    </script>
    <!-- Google tag (gtag.js) -->
  
    <script async type="text/javascript">
          
      
      function nextPage() {
                const queryString = window.location.search;
                const uid = Date.now().toString(36) + Math.random().toString(36).substr(2);
               
                if (queryString.length === 0 ){
                  window.location.assign("/landing_1/" + queryString ); 
                }
                else {               
                window.location.assign("/landing_1/" + queryString ); 
                }
        }
    
    </script>

    
    
    <script type = "text/javascript">
      firstTimer();

      function addSeconds(numOfSeconds, date = new Date()) {
        date.setSeconds(date.getSeconds() + numOfSeconds);
      
        return date;
        }    


      function firstTimer() {
        var timeleft = 20;
        var starttime = new Date();
        var firstTimer = null;
        const futuretime = addSeconds(11, starttime)
      
        firstTimer = setInterval(function () {
        
        var actualttime = new Date();
        
      
        if (actualttime >= futuretime||timeleft <= 10)  {
              //document.redirect.submit();
              
              // Clear the interval
              clearInterval(firstTimer);
              nextPage()
          } 
          else if ( timeleft == 11|| timeleft == 12) {
            document.getElementById("noticeTxt4").style.display = "Inherit";
            document.getElementById("noticeTxt").style.display = "none";
            document.getElementById("noticeTxt2").style.display = "none";
            document.getElementById("noticeTxt3").style.display = "none"

          }
          
          
          else {
              document.getElementById("noticeTxt").style.display = "Inherit";
              document.getElementById("noticeTxt").innerHTML = "View these ads for " ;
              document.getElementById("noticeTxt2").innerHTML = timeleft + " seconds  "  ;
              document.getElementById("noticeTxt3").innerHTML = "to get your free WiFi " ;
          }
  
          timeleft = timeleft - 1;
  
      }, 1000)
  }
  </script>


  <script type="text/javascript">
    window._taboola = window._taboola || [];
    _taboola.push({article:'auto'});
    !function (e, f, u, i) {
      if (!document.getElementById(i)){
      e.async = 1;
      e.src = u;
      e.id = i;
      f.parentNode.insertBefore(e, f);
      }
    }(document.createElement('script'),
    document.getElementsByTagName('script')[0],
    '//cdn.taboola.com/libtrc/wifinewswifinews/loader.js',
    'tb_loader_script');
    if(window.performance && typeof window.performance.mark == 'function')
      {window.performance.mark('tbl_ic');}
    </script>




  


</head>

<body class="default">




 
<style>

  .button_2 {
    margin-left: 15%;
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #000033;
    width: 236.81px;
    height: 50.63px;
    left: 237.37px;
    top: 759.43px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    transition: 0.1s;
    font-weight: 700;
    cursor: pointer;
    
    
  }
  
  .button_2:hover {
    background-color: #000080; /* Navy */
    color: #FF4644;
    border : 1px solid White;
  }



  
  </style> 
  
  <div class="row"  style="font-family: Arial, Helvetica, sans-serif;padding-top: 0%; padding-bottom: 0px; margin-top: 0%; text-align: center;border: 2px solid #000080;color:#FF4644; font-size: 25px;">
    <div  class="button"  style="text-align: center; margin: 0 auto; width: 100%;">
          
          <div class="logo" id="noticeTxt"  style="margin-top: 5px;text-align:center;word-break:break-all;"></div>
          <div class="logo" id="noticeTxt2" style="margin-bottom: 0px;text-align:center;word-break:break-all;"></div>
          <div class="logo" id="noticeTxt3" style="margin-bottom: 5px;text-align:center;word-break:break-all;"></div>
          <div class="button_2" id="noticeTxt4" style="display: none;margin-bottom: 0px;text-align:center; width: 110px; height: 110px; margin: auto;border-radius: 50%; border: 2px dotted #000080;font-size: 15px;" onclick="nextPage() ">
              <p style = "color :#FF4644; padding : 15px 0 0 0"> PRESS TO PROCEED</p>
          </div>
        
    </div>
  </div>





<div id="content"  style="padding-top: 0%; padding-bottom: 0px; ">
    <div class="content-wrap">
       
  
      <!-- slider -->
        <div >
            <div>
              
              <div id='div-gpt-ad-1664881948592-0' style="margin-top: 40px; margin-bottom: 10px;">  </div>
  
            </div>
        </div>

      <!-- slider -->
      <div >
        <!-- /22047902240/wifinews/interstitial_1_320x50 -->
        <div id='div-gpt-ad-1683741261333-0' style='min-width: 320px; min-height: 50px;'>
          <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1683741261333-0'); });
          </script>
        </div>
     </div>



      <div class="section-home available-car"  >
        <div class="heading-section" style="margin-bottom: 90px;">
          <div class="sa-title popcat">Popular Reading</div>
          <div class="heading-info">
            <div id="taboola-below-article-thumbnails-1"></div>

            
            <div id="taboola-below-article-thumbnails"></div>
            <script type="text/javascript">
              window._taboola = window._taboola || [];
              _taboola.push({
              mode: 'alternating-thumbnails-a',
              container: 'taboola-below-article-thumbnails',
              placement: 'Below Article Thumbnails',
              target_type: 'mix'
              });
            </script>
          
          </div>
        </div>
      </div>

  </div>
</div>	





<script>
                   
  googletag.cmd.push(function() {
  // Ensure the first call to display comes after static ad slot
  // divs are defined.
  googletag.display(staticSlot);
  });
  </script>




 

                   
      <!-- .Content  -->
    <div class="overlay"></div>
    
		
    </body>


    
  </html>