<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
	<head>
		<title>Hotspot login</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta http-equiv="pragma" content="no-cache"/>
        $(if http-header == Access-Control-Allow-Origin)*$(endif)
	</head>
	<body style="background-color:#333">
		<center>
			<div style="text-align: center; font-family: 'Arial, sans-serif'; font-size:22px; color:white;">
				<br/>Redirecting to Welcome Portal...<br/>
			</div>
            <div id="RedirectError" style="display: none; text-align: center; font-family: 'Arial, sans-serif'; font-size:22px; color:red;">
                <br/>Redirect error!<br/>Connection lost, Welcome Portal not reachable or walled garden not updated!<br/>
            </div>
			<form id="redirect" name="redirect" action="" method="post">
				<input type="hidden" name="domain" value="PrasaTest"/>
				<input type="hidden" name="hotspotname" value="PrasaTest"/>
                <input type="hidden" name="servername" value="$(server-name)"/>
				<input type="hidden" name="mac" value="$(mac)"/>
				<input type="hidden" name="ip" value="$(ip)"/>
				<input type="hidden" name="username" value="$(username)"/>
				<input type="hidden" name="link-login" value="$(link-login)"/>
				<input type="hidden" name="link-orig" value="$(link-orig)"/>
				<input type="hidden" name="error" value="$(error)"/>
				<input type="hidden" name="chap-id" value="$(chap-id)"/>
				<input type="hidden" name="chap-challenge" value="$(chap-challenge)"/>
				<input type="hidden" name="link-login-only" value="$(link-login-only)"/>
				<input type="hidden" name="identity" value="$(identity)"/>
			</form>
			<script>
			    var UrlCount = 3;
			    var Url = [];
			    var AlreadyChecked = [false, false, false];
			    var ReadyUrl = 0;

			    Url[0] = "www.hotspot.yourspot.co.za";
			    Url[1] = "www.hotspot-yourspot.co.za";
			    Url[2] = "portal.wifinews.co.za";

			    var Redirected = false;
			    function CheckServer(CheckUrl) {
			        var ImageObject = new Image();
			        ImageObject.src = "//" + CheckUrl + "/images/chk.gif?r=" + Math.floor(Math.random() * 99999);
			        ImageObject.onload = function() {
			            if ('naturalHeight' in this) {
			                if (this.naturalHeight + this.naturalWidth === 0) {
			                    Start();
			                    return;
			                }
			            } else if (this.width + this.height == 0) {
			                Start();
			                return;
			            }
			            if (!Redirected) {
			                Redirected = true;
			                clearTimeout(RedirectTimeout);
			                document.redirect.action = "//" + CheckUrl + "/portal/portal.php";
			                document.redirect.submit();
			            }
			            else {
			                Start();
			            }
			        };
			        ImageObject.onerror = function() {
			            //	Retry another URL
			            Start();
			        };
			    }
				
			    function Start() {
			        var found = false;
			        for (var i = 0; i < UrlCount * 5 + 1; i++) {
			            ReadyUrl = Math.floor((Math.random() * UrlCount));
			            if (!AlreadyChecked[ReadyUrl]) {
			                AlreadyChecked[ReadyUrl] = true;
			                CheckServer(Url[ReadyUrl]);
			                found = true;
			                break;
			            }
			        }

			        if (!found) {document.redirect.action = "//" + Url[0] + "/portal/portal.php";}
			    }

			    Start();

			    var RedirectTimeout = setTimeout("ShowRedirectError()", 15000);

			    function ShowRedirectError() {
			        document.getElementById("RedirectError").style.display = 'block';
			    }
			</script>
		</center>
	</body>
</html>